.product .btn {
    width: 100%;
    border: none;
    background-color: $primary;
}

.form-button {
    color: #fff;
    background-color: $background-dark;
    border-color: $background-dark;
    width: 100%;
}
